doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Why Community Matters

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section
        h1 Why Community Matters
        h4 with your host, Manil Chowdhury
        a(href='https://twitter.com/keywordnew') @keywordnew
        h5 Lighthouse Labs Unconference 2017

      section
        img(src='images/sweet-shades-cat.jpg' alt='nyan shades cat!' width='600px')
        h1 Hello there

      section
        h1 My name is Manil
        img.headroom(src='images/me.jpg' alt='it is I!' width='200px')

      section
        img.headroom(src='images/oversize-glasses-cat.jpg' width='400px')
        h2.bullet What qualifies me to talk about community?
        ul
          li I have an undergraduate degree in psychology
          li I run meetups
          li I am a human being in the tech community

      section
        h2 Here's a rundown of the next few minutes
        ul
          li You say things about community
          li I say things about community
          li We all look at gifs
        img(src='images/say-what.gif' width='300px')

      section
        h1 💛
        h2 what does community mean to you?

      section
        h2 Kitty Break
        img.headroom(src='images/kitty-falls-over.gif' width='500px')

      section
        h1 💛
        h2 what can you give to and get from communities?

      section
        h2 Kitty Break
        img.headroom(src='images/kitty-cheshire.gif' width='700px')

      section
        h1 💛
        h2 why does community matter?

      section
        h2 Kitty Break
        img.headroom(src='images/trippy-kitty.gif' width='400px')

      section
        h2 Finding 1 ⚡️
        h3 a community to many of us includes ideas of...
        img(src='images/all-them-ideas.jpg' width='400px')

      section
        h2 Finding 2 ⚡️
        h3 being part of the community can involve...
        table
          tr
            td
              img(src='images/support-aww.jpg' width='200px')
            td
              img(src='images/this-is-community.jpg' width='200px')
          tr
            td
              img(src='images/happiness-woop.jpg' width='200px')
            td
              img(src='images/common-ground.jpg' width='200px')

      section
        h2 Finding 3 ⚡️
        h3 as a community we can adapt best practices to make it work for us

      section
        img(height='400px', src='images/woop-woop-umbrellaaaas.jpg')

      section
        h2 Communities Near You!
        table
          tr
            td
              img(height='150px', src='images/techstarters-vancouver.jpeg')
            td
              img(height='150px', src='images/pyladies-vancouver.jpeg')
            td
              img(height='150px', src='images/vanruby.jpeg')
          tr
            td
              img(height='150px', src='images/code-coffee.png')
            td
              img(height='150px', src='images/type-brigade.jpg')
            td
              img(height='150px', src='images/nodeschool-yvr.jpg')

      section
        img.headroom(src='images/surfey-doggo.gif' width='300px')
        h2.bullet Thanks for joining! 🙌🏽
        h4 twitter @keywordnew

    script(src='build/build.js')
