doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Why Community Matters

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section
        h1 Why Community Matters
        h4 with your host, Manil Chowdhury
        a(href='https://twitter.com/keywordNew') @keywordNew
        h5 Lighthouse Labs Unconference 2017
        
      section
        h1 Hello there
        
      section
        h1 My name is Manil
        img.headroom(src='images/me.jpg' alt='itsa me!' width='200px')
        
      section
        h2.bullet What qualifies me to talk about community?
        ul
          li I have an undergraduate degree in psychology
          li I am a developer who also runs meetups
          li I am a human being in the tech community
      
      section
        h2 Here's a rundown of the next 15 minutes
        ul
          li You say things about community
          li I say things about community
          li We all look at gifs
          
      section
        h3 Kitty Break 😻
        img.headroom(src='images/kitty-falls-over.gif' width='400px')
      
      section
        h3 what does community mean to you?
        h3 what defines a community?
      
      section
        h2 Outcome 1
        p do you find that very many teams rely on outdated best practices in development?
        p do you wish companies would rely less on arbitrary algorithm questions during interviews?
        p more people being engaged in the community means updates spread faster. how we do things and how we treat people get better.
        p because community is a forum for discussion, ideas are less top down mandates than adopted by people who understand how it could benefit them
        p as we get more and more connected, we get best practices that 
        
      section
        h2 outcome 2
        p community lets us collectively examine best practices and see how we can make it work for us
        
      section
        h2 sun protection
        img(height='350px', src='images/woop-woop-umbrellaaaas.jpg')
              
      section
        iframe(width="640", height="360", src="https://www.youtube.com/embed/aDiIvE-OsF8?rel=0&amp;showinfo=0&amp;controls=0&amp;enablejsapi=1&amp;loop=1&amp;playlist=AV3kYPutYfs", frameborder="0", allowfullscreen, data-volume="0")
      
      section
        h2 communities near you
        table
          tr
            td
              img(height='100px', src='images/techstarters-vancouver.jpeg')  
            td
              img(height='100px', src='images/pyladies-vancouver.jpeg')
            td
              img(height='100px', src='images/vanruby.jpeg')
          tr
            td
              img(height='100px', src='images/code-coffee.png')
            td
              img(height='100px', src='images/type-brigade.jpg')
            td
              img(height='100px', src='images/nodeschool-yvr.jpg')

      section
        img.headroom(src='images/surfey-doggo.gif' width='300px')
        h2.bullet Thanks for joining! 🙌
        h4 Manil Chowdhury
        h4 @keywordNew

    script(src='build/build.js')
